/*==============================================================================
Colors
==============================================================================*/

$white : #fff;
$black : #000;
$gray--dark-1 : #333;
$gray--dark-2 : #272822;

$base-font--1 : 'Roboto', arial, sans-serif;
$code-font: 'Roboto Mono', monospace;
